.calendar {
  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    thead {
      .head {
        text-align: center;
        .icon {
          vertical-align: middle;
        }
        .date {
          font-size: x-large;
          vertical-align: middle;
        }
      }
    }
    tbody {
      .head {
        width: 100%;
      }
    }
  }
}
.calendarhead {
  border: solid 1px rgb(229, 229, 229);
  height: 2em;
  width: 14.28571%;
  text-align: center;
}
.calendarweek {
  width: 100%;
}
.calendardate {
  border: solid 1px rgb(229, 229, 229);
  width: 14.28571%;
  text-align: left;
  vertical-align: top;
  .head {
    overflow: hidden;
    .day {
      float: left;
      width: 50%;
      .dayinner {
        margin: .25em 0 0 .25em;
      }
    }
    .add {
      float: right;
      width: 50%;
      .addinner {
        margin: 0 .25em 0 0;
        text-align: right;
        i {
          font-size: xx-small;
          padding-right: .25em;
        }
        span {
          font-size: x-small;
        }
      }
    }
  }
  .body {
    height: 60px;
    overflow-y: auto;
    margin: 0 .25em .25em .25em;
  }
}
.calendaritem {
  .item {
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.callout {
  max-width: 240px;
  padding: 12px;
  .label {
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: x-small;
    }
  }
  .description {
    .button {
      font-size: small;
      width: 25%;
      div {
        justify-content: center;
      }
    }
  }
}
.panel {
  i {
    font-size: small;
  }
  .formlabel {
    display: table-cell;
    padding: 0 .5em 0 0;
  }
  .formcontrol {
    display: table-cell;
    width: 100%;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li:not(:first-child) {
      margin: .5em 0 0 0;
    }
  }
  .footer {
    margin: 0 -20px;
    .button {
      margin: 0 .5em 0 0;
    }
  }
  .time {
    display: inline-block;
    width: calc(50% - .5em);
    vertical-align: top;
  }
  .timeseparator {
    display: inline-block;
    text-align: center;
    line-height: 32px;
    height: 32px;
    width: 1em;
    vertical-align: top;
  }
  .rangeseparator {
    text-align: center;
  }
}
