.calendar-table {
  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    thead {
      .head {
        text-align: center;
        .icon {
          vertical-align: middle;
        }
        .date {
          font-size: x-large;
          vertical-align: middle;
        }
      }
    }
    tbody {
      .head {
        width: 100%;
      }
    }
  }
}
.calendar-head {
  border: solid 1px rgb(229, 229, 229);
  height: 2em;
  width: 14.28571%;
  text-align: center;
}
.calendar-week {
  width: 100%;
}
.calendar-date {
  border: solid 1px rgb(229, 229, 229);
  width: 14.28571%;
  text-align: left;
  vertical-align: top;
  .head {
    overflow: hidden;
    .day {
      float: left;
      width: 50%;
      .dayinner {
        margin: .25em 0 0 .25em;
      }
    }
    .add {
      float: right;
      width: 50%;
      .add-inner {
        margin: 0 .25em 0 0;
        text-align: right;
        i {
          font-size: xx-small;
          padding-right: .25em;
        }
        span {
          font-size: x-small;
        }
      }
    }
  }
  .body {
    height: 60px;
    overflow-y: auto;
    margin: 0 .25em .25em .25em;
  }
}
.calendar-item {
  .item {
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.callout {
  max-width: 240px;
  padding: 12px;
  .label {
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: x-small;
    }
  }
  .description {
    button {
      font-size: small;
      width: 25%;
      div {
        justify-content: center;
      }
    }
  }
}
.panel {
  i {
    font-size: small;
  }
  .form-label {
    display: table-cell;
    padding: 0 .5em 0 0;
  }
  .form-control {
    display: table-cell;
    width: 100%;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li:not(:first-child) {
      margin: .5em 0 0 0;
    }
  }
  .foot {
    display: flex;
    button {
      margin: 0 .5em 0 0;
    }
  }
}
.modal {
  max-width: 720px;
  min-width: 480px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  i {
    font-size: small;
  }
  .head {
    margin: 20px;
    display: flex;
    .title {
      font-size: large;
    }
    .close {
      margin: 0 0 0 auto;
    }
  }
  .body {
    margin: 20px;
    .form-label {
      display: table-cell;
      padding: 0 .5em 0 0;
    }
    .form-control {
      display: table-cell;
      width: 100%;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      li:not(:first-child) {
        margin: .5em 0 0 0;
      }
    }
    .flex {
      align-items: baseline;
      display: flex;
      flex-wrap: wrap;
    }
    .date {
      display: inline-block;
      margin-right: 1em;
      vertical-align: top;
      width: calc(33% - .5em);
    }
    .time {
      display: inline-block;
      vertical-align: top;
      width: calc(67% - .5em);
      .time-control {
        display: inline-block;
        vertical-align: top;
        width: calc(50% - .5em);
      }
      .time-separator {
        display: inline-block;
        height: 32px;
        line-height: 32px;
        text-align: center;
        vertical-align: top;
        width: 1em;
      }
    }
    .range-separator {
      display: inline-block;
      margin-right: 1em;
      text-align: center;
      vertical-align: top;
      width: calc(33% - .5em);
    }
    .repeat {
      display: inline-block;
      margin-right: 1em;
      vertical-align: top;
      width: calc(33% - .5em);
    }
    .pattern {
      display: inline-block;
      vertical-align: top;
      width: calc(67% - .5em);
    }
    .rule {
      display: inline-block;
      vertical-align: top;
      width: calc(67% - .5em);
    }
  }
  .foot {
    display: flex;
    margin: 20px;
    button {
      margin: 0 .5em 0 0;
    }
    .delete {
      margin: 0 0 0 auto;
    }
  }
}
