.calendar {
  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    thead {
      .head {
        text-align: center;
        .icon {
          vertical-align: middle;
        }
        .date {
          font-size: x-large;
          vertical-align: middle;
        }
      }
    }
    tbody {
      .head {
        width: 100%;
      }
    }
  }
}
.calendarhead {
  border: solid 1px rgb(229, 229, 229);
  height: 2em;
  text-align: center;
  width: 14.28571%;
}
.calendarweek {
  width: 100%;
}
.calendardate {
  border: solid 1px rgb(229, 229, 229);
  text-align: left;
  vertical-align: top;
  width: 14.28571%;
  .head {
    overflow: hidden;
    .day {
      float: left;
      width: 50%;
      .dayinner {
        margin: .25em 0 0 .25em;
      }
    }
    .add {
      float: right;
      width: 50%;
      .addinner {
        margin: 0 .25em 0 0;
        text-align: right;
        i {
          font-size: xx-small;
          padding-right: .25em;
        }
        span {
          font-size: x-small;
        }
      }
    }
  }
  .body {
    height: 60px;
    margin: 0 .25em .25em .25em;
    overflow-y: auto;
  }
}
.calendaritem {
  .item {
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.callout {
  max-width: 240px;
  padding: 12px;
  .label {
    align-items: center;
    display: flex;
    justify-content: center;
    i {
      font-size: x-small;
    }
  }
  .description {
    button {
      font-size: small;
      width: 25%;
      div {
        justify-content: center;
      }
    }
  }
}
.panel {
  i {
    font-size: small;
  }
  .formlabel {
    display: table-cell;
    padding: 0 .5em 0 0;
  }
  .formcontrol {
    display: table-cell;
    width: 100%;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li:not(:first-child) {
      margin: .5em 0 0 0;
    }
  }
  .foot {
    display: flex;
    button {
      margin: 0 .5em 0 0;
    }
  }
}
.modal {
  max-width: 720px;
  min-width: 480px;
  padding: 20px;
  width: 100%;
  i {
    font-size: small;
  }
  .head {
    display: flex;
    .title {
      font-size: large;
    }
    .close {
      margin: 0 0 0 auto;
    }
  }
  .body {
    .formlabel {
      display: table-cell;
      padding: 0 .5em 0 0;
    }
    .formcontrol {
      display: table-cell;
      width: 100%;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      li:not(:first-child) {
        margin: .5em 0 0 0;
      }
    }
    .date {
      display: inline-block;
      margin-right: 1em;
      vertical-align: top;
      width: calc(33% - .5em);
    }
    .time {
      display: inline-block;
      vertical-align: top;
      width: calc(67% - .5em);
      .timecontrol {
        display: inline-block;
        vertical-align: top;
        width: calc(50% - .5em);
      }
      .timeseparator {
        display: inline-block;
        height: 32px;
        line-height: 32px;
        text-align: center;
        vertical-align: top;
        width: 1em;
      }
    }
    .rangeseparator {
      display: inline-block;
      margin-right: 1em;
      text-align: center;
      vertical-align: top;
      width: calc(33% - .5em);
    }
  }
  .foot {
    display: flex;
    button {
      margin: 0 .5em 0 0;
    }
    .delete {
      margin: 0 0 0 auto;
    }
  }
}
